  <div class="aside-navigation" style="opacity: 0">

    <div class="aside-navigation__content">
        <button class="aside-navigation__mobile-toggler">Close Menu</button>
        <ul class="aside-navigation__list">
            <li><a href="#section-01" class="aside-navigation__menu-item">Section 01</a></li>
            <li><a href="#section-02" class="aside-navigation__menu-item" data-overwrite="Overwrite Section 02">Section 02</a></li>
            <li>
                <a href="#section-03" class="aside-navigation__menu-item">Section 03</a>
                <ul>
                    <li><a href="#section-04">Section 04</a></li>
                    <li><a href="#section-05">Section 05</a></li>
                    <li><a href="#section-06">Section 06</a></li>
                </ul>
            </li>
            <li>
                <a href="#section-07" class="aside-navigation__menu-item">Section 07</a>
                <ul>
                    <li><a href="#section-08">Section 08</a></li>
                    <li><a href="#section-09">Section 09</a></li>
                    <li><a href="#section-10">Section 10</a></li>
                </ul>
            </li>
            <li>
                <a href="#section-11" class="aside-navigation__menu-item">Section 11</a>
                <ul>
                    <li><a href="#section-12">Section 12</a></li>
                    <li><a href="#section-13">Section 13</a></li>
                    <li><a href="#section-14">Section 14</a></li>
                    <li><a href="#section-15">Section 15</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="aside-navigation__toggler">
        <p class="aside-navigation__toggler-title">Open Menu</p>
        <p class="aside-navigation__toggler-category">Section 01</p>
    </div>
</div>