{% from 'macros/common.njk' import menu %}
<div class="offcanvas flex fixed top-0 h-full left-0 flex-col -translate-x-full invisible z-[--z-index--offcanvas] transition-transform outline-0 bg-clip-padding bg-white w-full [&.showing]:visible [&.hiding]:visible [&.show]:visible [&.showing]:transform-none [&.show:not(.hiding)]:transform-none" id="offcanvas" role="complementary" tabindex="-1">

    <div class="py-8 overflow-y-auto">
        <div class="container">

            <button data-dismiss="offcanvas" class="absolute top-4 right-4 cursor-pointer">&#x2715;<span class="sr-only">Close</span></button>

            <nav  role="navigation">
                {{ menu({
                    nav: navigation.main,
                    menuClass: "flex flex-col space-y-4",
                    submenuClass: "flex flex-col space-y-2 mt-2 ml-4"
                }) }}
            </nav>

        </div>
    </div>

</div>