{% from 'macros/common.njk' import menu %}

<header id="site-header">

    <div class="container">

        <div class="grid grid-flow-col auto-cols-max justify-between items-center gap-8">

            {% include 'global/brand.njk' %}

            <nav aria-label="Main Menu">
                {{ menu({
                    nav: navigation.main,
                    style: 'main',
                    attributes: 'role="menubar"',
                    currentPage: page.url,
                    menuClass: 'is-dropdown flex flex-row space-x-8',
                    linkClass: 'text-black font-bold',
                    currentlinkClass: 'text-primary',
                    submenuClass: 'absolute invisible pointer-events-none opacity-0 flex flex-col bg-white p-4 shadow space-y-2 transition-opacity duration-500 peer-aria-expanded:visible group-hover:pointer-events-auto group-hover:opacity-100 peer-focus:opacity-100 has-[:focus]:opacity-100 '
                }) }}

                {% include 'global/hamburger.njk' %}
            </nav>

        </div>

    </div>

</header>