{% from 'macros/common.njk' import menu %}
<footer id="site-footer" role="contentinfo">
    <div class="container text-center">
        <nav aria-label="Footer navigation">
            {{ menu({
                nav: navigation.footer,
                currentPage: page.url
            }) }}
        </nav>
    </div>
</footer>