<a class="absolute top-auto left-[-999px] z-[-999] w-px h-px overflow-hidden border-4 border-yellow-500 rounded-lg bg-black text-white text-center p-2  focus:left-auto focus:z-[9999] focus:m-4 focus:w-auto focus:h-auto  " href="#main">Jump to main content</a>
