{#
# @prop {array} members
#}

{% macro render(props) %}

    <div class="grid-container">

        {% if props.layoutGrid %}

            <ul class="template-team-members__list">

                {% for item in props.items %}

                    <li class="template-team-members__card">

                        {% if item.image %}
                            <div class="template-team-members__image-wrapper">
                                <img src="{{ root }}{{ item.image }}" alt="{{ member.name }}">
                            </div>
                        {% endif %}

                        <div class="template-team-members__content">

                            <div class="template-team-members__info">

                                {% if item.name %}
                                    <h3 class="template-team-members__name">{{ item.name }}</h3>
                                {% endif %}

                                {% if item.position %}
                                    <p class="template-team-members__position">{{ item.position }}</p>
                                {% endif %}

                            </div>

                            {% if item.linkList %}

                                <ul class="template-team-members__link-list">

                                    {% for linkListItem in item.linkList %}

                                        <li>
                                            <a class="template-team-members__link" href="{{ linkListItem.link }}">
                                                <img class="editable-svg" src="{{ root }}{{ linkListItem.linkIcon }}" alt="icon">
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>

                            {% endif %}

                        </div>

                    </li>

                {% endfor %}

            </ul>

        {% else %}

            <ul class="template-team-members__list">

                {% for item in props.items %}

                    <li class="template-team-members__item">

                        <div class="template-team-members__img-wrapper">
                            {% if item.img %}
                                <img src="{{ root }}{{ item.img }}" alt="{{ item.headline }}">
                            {% endif %}
                        </div>

                        <div class="template-team-members__info">

                            {% if item.preheadline %}
                                <div class="template-team-members__pretitle">{{ item.preheadline }}</div>
                            {% endif %}

                            {% if item.headline %}
                                <h3 class="template-team-members__title">{{ item.headline }}</h3>
                            {% endif %}

                            {% if item.description %}
                                <div class="template-team-members__description">
                                    <p>{{ item.description }}</p>

                                    {% if item.hiddenDescription %}
                                        <div class="template-team-members__hidden-description">
                                            <div class="template-team-members__description-inner">
                                                <p>{{ item.hiddenDescription }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <button class="template-team-members__toggle-read-more more">Read More</button>
                            {% endif %}

                            <div class="template-team-members__buttons-wrapper">
                                {% if item.mail %}
                                    <a href="mailto:{{ item.mail }}" class="button button--outlined">{{ item.mail }}</a>
                                {% endif %}

                                {% if item.link %}
                                    <a href="{{ item.link }}" class="button button--outlined">Connect on LinkedIn</a>
                                {% endif %}
                            </div>

                        </div>

                    </li>

                {% endfor %}

            </ul>

        {% endif %}

    </div>

{% endmacro %}