/**
* @param {string} class
* @param {string} content
*/

{% macro render( props ) %}

    {% set classes = ([
        'space-y-4',
        props.class if  props.class
    ]) | twMerge %}

    <div class="module text-editor {{ classes }}">

        {% if props.innerContent %}

            {% include props.innerContent %}

        {% endif %}

        {% if caller %}

            {{ caller() | safe }}

        {% endif %}

    </div>

{% endmacro %}