.button {
  --buttonBg: var(--black);
  --buttonColor: var(--white);
  --buttonBorder: transparent;
  --buttonPadding: 10px 30px;
  --buttonHeight: 50px;
  --buttonRadius: 50px;
  --buttonFontSize: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  transition: color var(--tr), background var(--tr), border-color var(--tr);
  font-size: var(--buttonFontSize);
  padding: var(--buttonPadding);
  min-height: var(--buttonHeight);
  border-radius: var(--buttonRadius);
  border-color: var(--buttonBorder);
  background: var(--buttonBg);
  color: var(--buttonColor);
 
  &:focus,
  &:active {
    outline: 0;
  }

  &:disabled,
  &.disabled{
    pointer-events: none;
  }

  &:hover {
    --buttonBg: var(--transparent);
    --buttonColor: var(--black);
    --buttonBorder: var(--black);
  }

  &.outlined {
    --buttonBg: var(--transparent);
    --buttonColor: var(--black);
    --buttonBorder: var(--black);

    &:hover {
      --buttonBg: var(--black);
      --buttonColor: var(--white);
      --buttonBorder: var(--black);
    }
  }

  &.simple {
    --buttonBg: var(--transparent);
    --buttonColor: var(--black);
    --buttonBorder: transparent;
    --buttonPadding: 0;
    --buttonHeight: auto;
  }
}
