.cursor {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  width: rem-calc(81);
  height: rem-calc(81);
  transition: opacity var(--tr);

  &.is-active {
      opacity: 1;

    &:before {
      transform: scale(1);
    }
  }
}

