section.hero-unit {
    position: relative;

    .grid-container {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &.bg-image,
    &.bg-video {
        color: color('inverse');
    }

    //home hero unit
    .home & {}
}