section.hero-unit {
    position: relative;

    .grid-container {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &.bg-image,
    &.bg-video {
        color: var(--inverse);
    }

    .subheadline,
    .hero-unit-text,
    .buttons {
        margin-top: rem-calc($p-margin);
    }

    .buttons {
        display: flex;
        gap: rem-calc(10);
        align-items: center;
        flex-wrap: wrap;
    }

    //home hero unit
    .home & {}
}