.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  padding: rem-calc(30);
  margin: 0 !important;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.75;
  }

  .modal-wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }

  .modal-inner {
    max-width: rem-calc(1300);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .modal-content {
    position: relative;
    z-index: 2;
  }

  .modal-close {
    position: absolute;
    right: rem-calc(-45);
    top: rem-calc(0);
    background: svg-uri(
        '<svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17.6387" cy="16.9609" r="16.7363" fill="#F7FAF0" fill-opacity="0.2"/><line x1="11.6055" y1="10.2187" x2="24.3377" y2="22.9509" stroke="#F7FAF0" stroke-width="2"/><line x1="11.0859" y1="23.1835" x2="23.818" y2="10.4513" stroke="#F7FAF0" stroke-width="2"/></svg>'
      )
      no-repeat;
    width: rem-calc(20);
    height: rem-calc(20);
    background-size: contain;
    cursor: pointer;
    z-index: 100;

    @include breakpoint(medium) {
      right: rem-calc(-120);
      top: rem-calc(-30);
      width: rem-calc(33);
      height: rem-calc(33);
    }
  }
}
