.menu:not(.submenu) {
    --buttonPadding: rem-calc(0);
    --buttonColor: var(--black);
    --buttonHover: var(--secondary-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: rem-calc(56);
    row-gap: rem-calc(16);
    list-style: none;
    padding-left: 0;
    margin: 0;

    .menu-item {

        > a {
            color: var(--buttonColor);
            padding: var(--buttonPadding);
            transition: color var(--tr);
        }
        
        &:hover {
            > a {
                color: var(--buttonHover);
            }
        }

        &.button {
            padding: 0;

            a {
                border: rem-calc(1) solid var(--buttonHover);
                padding: rem-calc(8 16);
                color: var(--buttonHover);
                transition: background-color var(--tr), color var(--tr);
            }

            &:hover {
                a {
                    background-color: var(--buttonHover);
                    color: var(--buttonColor);
                }
            }
        }
    }

    .menu-item.menu-item-has-children {
        position: relative;

        > a {
            display: flex;
            align-items: center;

            &:after {
                content: '';
                display: block;
                width: rem-calc(12);
                height: rem-calc(7);
                background-size: contain;
                margin-left: rem-calc(8);
                
                mask-image: svg-uri('<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0.654297L6.25225 5.79826L11.5045 0.654297" stroke="#000000" stroke-width="1.5"/><path d="M1 0.654297L6.25225 5.79826L11.5045 0.654297" stroke="black" stroke-opacity="0.2" stroke-width="1.5"/></svg>');
                mask-repeat: no-repeat;
                mask-size: rem-calc(12 7);
                mask-repeat: no-repeat;
                background: var(--buttonColor);
                transition: all var(--tr);
            }

            &:hover {
                &:after {
                    background: var(--buttonHover);
                }
            }
        }

        .menu.submenu {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: rem-calc(8 16);
            z-index: 9999;
            pointer-events: all;
            list-style: none;
            
            position: absolute;

            background-color: var(--white);
            border: 1px solid var(--buttonHover);

            translate: rem-calc(0 -30);

            opacity: 0;
            visibility: hidden;
            transition: visibility var(--tr), opacity var(--tr), translate var(--tr);

            a {
                padding: rem-calc(8 16);
            }
        }
    }

    .menu-item.menu-item-has-megamenu {
        .menu.submenu {
            width: 100vw;
            display: flex;
            flex-direction: row;
            gap: rem-calc(24);
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &.dropdown {

        .menu-item.menu-item-has-children{
            
            &.open {

                > a {
                    &:after {
                        transform: rotate(-180deg);
                    }
                }

                .menu.submenu {
                    translate: rem-calc(0 0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &.drilldown {
        .menu-item.menu-item-has-children{
            &:hover {

                > a {

                    &:after {
                        transform: rotate(-180deg);
                        background-color: var(--buttonHover);
                    }
                }

                .menu.submenu {
                    translate: rem-calc(0 16);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.custom-navigation {
    border-bottom: rem-calc(2) solid var(--gray);
    position: relative;

    .grid-container {
        display: flex;
        flex-direction: column;

        @include breakpoint(large){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}