.off-canvas {
    background: var(--black);
    color: var(--inverse);
    overflow: auto;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform var(--tr);
    padding: rem-calc(30);
    z-index: 9998;


    &.is-open {
        transform: translateX(0);
    }
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas.is-transition-overlap {
    &.is-open {
        box-shadow: none;
    }
}
