$offcanvas-background: color('white');
$offcanvas-background-opacity: 1;
$offcanvas-links-color: color('text');
$offcanvas-text-color: color('text');

//off-canvas content
.off-canvas {
    background: rgba($offcanvas-background, $offcanvas-background-opacity);
    color: $offcanvas-text-color;
    overflow: auto;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform $tr;
    padding: rem-calc(26 33);

    //color of the links 
    a:link,
    a:visited {
        color: $offcanvas-links-color;
    }

    &.is-open {
        transform: translateX(0);
    }

    //menu
    .menu {
        a {
            padding: 0;
        }

        &.drilldown {
            overflow: visible;
        }
    }


    //close button
    .close-button {
        @include closeButton($offcanvas-text-color);
        position: absolute;
        right: rem-calc(30);
        top: rem-calc(20);
    }
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas.is-transition-overlap {
    z-index: 9999;

    &.is-open {
        box-shadow: none;
    }
}