.main-nav-offcanvas-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: rem-calc(30);
    min-width: rem-calc(30);
    height: rem-calc(20);
    cursor: pointer;

    .offcanvas-toggler-line {
        display: block;
        width: 100%;
        height: rem-calc(2);
        background-color: var(--secondary-color);
        transition: opacity var(--tr), transform var(--tr);
    }
}

body.offcanvas-active {
    .main-nav-offcanvas-toggler {
    
        .offcanvas-toggler-line {
            &:nth-child(1){
                transform: rotate(35deg) translateY(#{rem-calc(11)});
            }

            &:nth-child(2){
                opacity: 0;
            }

            &:nth-child(3){
                transform: rotate(-35deg) translateY(#{rem-calc(-11)});
            }
        }
    }
}