.site-header {
    padding: rem-calc(20 0);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    z-index: 9998;

    .primary-navigation {

        .menu {
            @include breakpoint(medium down) {
                display: none;
            }
        }

        .offcanvas-toggler {
            @include breakpoint(large) {
                display: none;
            }
        }
    }
}