{% extends "design-system/layout.njk" %}

{% block inner %}

    <div class="overflow-hidden min-h-screen">

        {% include "./sidebar.njk" %}

        <main class="ds__main overflow-auto h-[calc(var(--vh,1vh)_*_100_-_57px)]">

            {% block content %}{% endblock %}

        </main>

    </div>

{% endblock %}
