{% extends "design-system/layout.njk" %}

{% block inner %}

    <div class="overflow-hidden min-h-screen">

        {% include "./sidebar.njk" %}

        <main class="ds__main">

            {% block content %}{% endblock %}

        </main>

    </div>

{% endblock %}
