.module.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem-calc(20);

    &.is-centered {
        justify-content: center;
    }

    &.is-vertical {
        flex-direction: column;
        align-items: flex-start;

        &.is-centered {
            align-items: center;
        }
    }
}
