.module.video {
    video[poster] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video,
    iframe {
        display: block;
        border: 0;
        max-width: 100%;
    }

    .video__responsive-wrapper {
        position: relative;
        padding-top: 56.25%;

        video,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.video-js {
    --big-play-button-size: 3.75rem;

    .vjs-big-play-button {
        border: 0;
        border-radius: 50%;
        background: var(--primary-color);
        width: var(--big-play-button-size);
        height: var(--big-play-button-size);

        .vjs-icon-placeholder {
            &::before {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &:focus,
    &:hover {
        .vjs-big-play-button {
            background: var(--primary-color);
        }
    }
}

.vjs-has-started.vjs-paused .vjs-big-play-button {
    display: block;
}
