/**
* @param {string} class
* @param {string} url
* @param {string} label
* @param {string} type
*/

{% macro render( props ) %}

  <a href="{{ root }}{{ props.url }}" class="button{% if props.type %} {{ props.type }}{% endif %}{% if props.class %} {{ props.class }}{% endif %}">{{ props.label }}</a>

{% endmacro %}