/**
* @param {string} class
* @param {array} logos
*/

{% macro render(props) %}

        {% for item in props.items %}
        <div class="template-observer-content__box">
            {{ item.title }}
        </div>
        {% endfor %}

{% endmacro %}