{# DropdownMenu macro #}
{% macro menu(props) %}
    {% from "macros/common.njk" import menu %}

    <ul class="{{ props.menuClass }}"{% if props.attributes %} {{ props.attributes | safe }}{% endif %}>

        {% for link in props.nav %}

            {% set classes = (['menu-item-has-children' if link.submenu or link.megaMenu]) | toClassNames %}

            <li class="menu__item{{ classes }}">

                {% set linkClasses = ([
                    'peer', props.linkClass if props.linkClass, props.currentlinkClass if props.currentPage == link.url and props.currentlinkClass
                ]) | toClassNames %}

                {% set linkAttributes = ([
                    'aria-current="page"' if  props.currentPage == link.url,
                    'aria-expanded="false"' if link.submenu
                ]) | toClassNames %}

                <a href="{{ root }}{{ link.url }}" class="{{ linkClasses }}"{{ linkAttributes | safe }}>{{ link.name }}</a>

                {% if link.submenu %}
                    {{ menu({
                        nav: link.submenu,
                        currentPage: props.currentPage,
                        menuClass: props.submenuClass,
                        linkClass: props.submenuLinkClass,
                        currentlinkClass: props.submenuCurrentlinkClass
                    }) }}

                {% endif %}

                {% if link.megaMenu %}

                    <div class="mega-menu">

                        <ul class="mega-menu__menu" data-parent="{{ link.name }}">

                            {% for item in link.megaMenuNavigation %}

                                {% set classes = (['menu-item-has-children' if item.subMegaMenuNavigation]) | toClassNames %}

                                <li class="mega-menu__item{{ classes }}" {% if item.image %}data-image="{{ root }}{{ item.image }}"{% endif %}>
                                    <div class="mega-menu__header">
                                        <a href="{{ root }}{{ item.link }}">{{ item.title }}</a>

                                        {% if item.subMegaMenuNavigation %}
                                            <button class="mega-menu__button"></button>
                                        {% endif %}
                                    </div>

                                    {% if item.subMegaMenuNavigation %}

                                        <ul class="mega-menu__sub-menu">

                                            {% for subMenuItem in item.subMegaMenuNavigation %}

                                                <li class="mega-menu__sub-menu-item">
                                                    <a href="{{ root }}{{ subMenuItem.link }}">{{ subMenuItem.title }}</a>
                                                </li>

                                            {% endfor %}

                                        </ul>

                                    {% endif %}

                                </li>

                            {% endfor %}

                        </ul>

                    </div>

                {% endif %}

            </li>

        {% endfor %}

    </ul>

{% endmacro %}

{# Modal macro #}
{% macro modal(props) %}

    <div class="modal {%if props.class %}{{ props.class }}{% endif %}" id="{{ props.id }}" tabindex="-1">

        <div class="modal__wrapper">

            <div class="modal__content">

                <div class="modal__header">

                    <button type="button" class="modal__close-btn" data-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal__body">

                    {% if caller %}{{ caller()  }}{% endif %}

                </div>

            </div>

        </div>

    </div>

{% endmacro %}