{#
# @prop {string} icon
# @prop {string} headline
# @prop {array} items
#}

{% macro render(props) %}

    {% if props.items %}

        {% if props.grid %}

            <div class="grid-container">

                <div class="template-icon-grid__list">

                    {% for item in props.items %}

                        <div class="template-icon-grid__item">

                            {% if item.icon %}
                                <img class="template-icon-grid__icon" src="{{ root }}{{ item.icon }}" alt="{{ item.title }}">
                            {% endif %}

                            {% if item.title %}
                                <h3 class="template-icon-grid__title">{{ item.title }}</h3>
                            {% endif %}

                            {% if item.description %}
                                <p class="template-icon-grid__description">{{ item.description }}</p>
                            {% endif %}
                        </div>

                    {% endfor %}

                </div>

            </div>

        {% else %}

            <div class="splide">

                <div class="splide__track">

                    <ul class="splide__list">

                        {% for item in props.items %}

                            <li class="splide__slide">

                                <div class="template-icon-grid__item">
                                    {% if item.icon %}
                                        <img class="template-icon-grid__icon" src="{{ root }}{{ item.icon }}" alt="{{ item.title }}">
                                    {% endif %}

                                    {% if item.title %}
                                        <h3 class="template-icon-grid__title">{{ item.title }}</h3>
                                    {% endif %}

                                    {% if item.description %}
                                        <p class="template-icon-grid__description">{{ item.description }}</p>
                                    {% endif %}
                                </div>

                            </li>

                        {% endfor %}

                    </ul>

                </div>

            </div>

        {% endif %}

    {% endif %}

{% endmacro %}