{%- macro menu(params) -%}

    {%- from "../global/menu.njk" import render -%}
    {{- render( params ) -}}

{%- endmacro -%}


{% macro columns(class) %}

    <div class="grid-x {{ class }}">

        {% if caller %}{{ caller() | safe }}{% endif %}

    </div>

{% endmacro %}


{% macro column(class) %}

    <div class="cell {{ class }}">

        {% if caller %}{{ caller() | safe }}{% endif %}

    </div>

{% endmacro %}


{% macro module(name, params) %}
    {%- from "../modules/" + name + "/" + name + ".njk" import render -%}

    {%- if caller -%}
        {%- call render( params ) %}{{ caller() }}{% endcall -%}
    {%- else -%}
        {{- render( params ) -}}
    {%- endif -%}

{% endmacro %}


{%- macro template(name, params) -%}
{#    /**#}
{#    * @param {string} class#}
{#    * @param {string} id#}
{#    * @param {object} templateHeader - { headline: 'string', preheadline: 'string', subheadline: 'string', class: 'string' }#}
{#    * @param {string} bg - { image | video | color }#}
{#    */#}

    {%- from "../templates/" + name + "/" + name + ".njk" import render -%}

    {% set classes = ([
        'content-block template-' + name,
        'bg-'+ params.bg.color if params.bg.color,
        'bg-image' if params.bg.image,
        'bg-video' if params.bg.video,
        params.class if params.class
    ]) | toClassNames %}

    {% set templateHeader = params.templateHeader %}

    <section class="{{ classes }}"{% if params.id %} id="{{ params.id }}"{% endif %}>

        {% if templateHeader %}
            <header class="template-header{% if templateHeader.class %}{{ templateHeader.class }}{% endif %}">

                <div class="grid-container">
                    {% if templateHeader.preheadline %}
                        <p class="template-header__preheadline">{{ templateHeader.preheadline | safe }}</p>
                    {% endif %}

                    {% if templateHeader.headline %}
                        <h2 class="template-header__headline">{{ templateHeader.headline | safe }}</h2>
                    {% endif %}

                    {% if templateHeader.subheadline %}
                        <h3 class="template-header__subheadline">{{ templateHeader.subheadline | safe }}</h3>
                    {% endif %}
                </div>

            </header>
        {% endif %}

        {% if params.bg.image or params.bg.video %}
            <div class="bg-container">
                <div class="overlay"></div>

                {% if params.bg.image %}

                    <img class="lazy-load" data-src="{{ root }}{{ params.bg.image }}" alt="">

                {% endif %}

                {% if params.bg.video %}

                    <video class="lazy-load"{% if params.bg.poster %} data-poster="{{ root }}{{ params.bg.poster }}"{% endif %} muted playsinline autoplay loop preload="none">
                        <source data-src="{{ root }}{{ params.bg.video }}" type="video/mp4">
                    </video>

                {% endif %}
            </div>

        {% endif %}

        {%- if caller -%}
            {%- call render( params ) %}{{ caller() }}{% endcall -%}
        {%- else -%}
            {{- render( params ) -}}
        {%- endif -%}

    </section>
{%- endmacro -%}