<section class="hero-unit{{#if hero_unit.bg.color}} bg-{{hero_unit.bg.color}}{{/if}}{{#if hero_unit.bg.image }} bg-image{{/if}}{{#if hero_unit.bg.video }} bg-video{{/if}}{{#if hero_unit.classes}} {{hero_unit.classes}}{{/if}}"{{#if hero_unit.bg.image }} style="background-image: url({{hero_unit.bg.image}})"{{/if}}>
    {{#if hero_unit.bg.image}}
        <div class="overlay"></div>
    {{/if}}

    {{#if hero_unit.bg.video}}
        <div class="overlay"></div>
        <div class="video-overlay">
            <video {{#if hero_unit.bg.videoOptions}}{{hero_unit.bg.videoOptions}}{{/if}}>
                <source src="{{root}}{{hero_unit.bg.video}}" type="{{videoType}}">
            </video>
        </div>
    {{/if}}

    <div class="grid-container">

        <div class="hero-unit-content">
            {{#if hero_unit.headline}}
                <h1 class="headline">{{{hero_unit.headline}}}</h1>
            {{/if}}
            {{#if hero_unit.subheadline }}
                <h2 class="subheadline">{{{hero_unit.subheadline}}}</h2>
            {{/if}}

            {{#if hero_unit.description }}
               <div class="hero-unit-text">
                   {{{hero_unit.description}}}
               </div>
            {{/if}}

            {{#if hero_unit.buttons}}
               {{#each hero_unit.buttons}}
               <a href="{{href}}" class='{{classes}}'>{{text}}</a>
               {{/each}}
            {{/if}}
        </div>

    </div>
</section>