{{#ifequal type "dropdown"}}
<ul class="menu dropdown {{menuClasses}}" data-dropdown-menu>
{{/ifequal}}
{{#ifequal type "drilldown"}}
<ul class="menu drilldown vertical {{menuClasses}}" data-drilldown data-animate-height="true">
{{/ifequal}}
{{#ifequal type "simple"}}
<ul class="menu {{menuClasses}}">
{{/ifequal}}
    {{#each data}}
        <li class="menu-item {{#ifpage link}} current-menu-item{{/ifpage}}{{#if classes}} {{classes}}{{/if}}">
            <a href="{{root}}{{link}}.html">{{text}}</a>
            {{#if submenu }}
                <ul class="submenu menu vertical">
                    {{#each submenu-items}}
                        <li class="menu-item {{#ifpage submenu-link}} current-menu-item{{/ifpage}}{{#if classes}} {{classes}}{{/if}}">
                            <a href="{{root}}{{submenu-link}}.html">{{submenu-text}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
</ul>