<header class="site-header">
    <div class="grid-container navbar">
        <div class="grid-x grid-margin-x align-justify align-middle">
            <div class="brand cell shrink" role="banner">
                {{> brand}}
            </div>
            <nav class="primary-navigation cell shrink grid-x align-middle" role="navigation">
                {{> navigation type="dropdown" menuClasses="show-for-large" data=common.primary-navigation}}

                {{> hamburger-button}}
            </nav>
        </div>
    </div>
</header>
