<div class="module accordion">
    {{#repeat 5}}
    <div class="accordion-item">
        <div class="accordion-title">
            <h4>Accordion title</h4>
        </div>
        <div class="accordion-content">
            <div class="inner">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laudantium molestiae tenetur blanditiis, veritatis perferendis molestias. Quis ipsam, earum asperiores debitis voluptate accusantium voluptatem necessitatibus hic! Ratione ipsum voluptatum commodi illo atque eum! Assumenda eum doloribus eos incidunt, corrupti sint possimus. Consequatur inventore ipsa, doloribus at ipsam unde in facilis.</p>
            </div>
        </div>
    </div>
    {{/repeat}}
</div>
