{{#ifequal type 'multi-expand'}}
    <div class="module accordion" data-multi-expand="true" >

        <div class="accordion-item">
            <a href="#" class="accordion-title">Accordion with multi-expand - tab 1</a>

            <div class="accordion-content">
                <div class="inner">
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <a href="#" class="accordion-title">Accordion with multi-expand - tab 2</a>

            <div class="accordion-content">
                <div class="inner">
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </div>
        </div>
        
    </div>
{{else}}
    <div class="module accordion">

        <div class="accordion-item">
            <a href="#" class="accordion-title">Accordion without multi-expand - tab 1</a>

            <div class="accordion-content">
                <div class="inner">
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <a href="#" class="accordion-title">Accordion without multi-expand - tab 2</a>

            <div class="accordion-content">
                <div class="inner">
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </div>
        </div>
        
    </div>
{{/ifequal}}
