<div class="module tabs{{#if moduleClasses}} {{moduleClasses}}{{/if}}" data-tabs>

    <ul class="tabs-nav">
        <li><a href="#tab1">Tab 1</a></li>
        <li class="is-active"><a href="#tab2">Tab 2</a></li>
        <li><a href="#tab3">Tab 3</a></li>
        <li><a href="#tab4">Tab 4</a></li>
        <li><a href="#tab5">Tab 5</a></li>
    </ul>

    <div class="tabs-content">
        <div class="tabs-item" id="tab1">
            <div class="inner">
                <p>one</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </div>
        </div>
        <div class="tabs-item is-active" id="tab2">
            <div class="inner">
                <p>two</p>
                <img class="image" src="{{root}}assets/images/cms/placeholder.jpg">
            </div>
        </div>
        <div class="tabs-item" id="tab3">
            <div class="inner">
                <p>three</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </div>
        </div>

        <div class="tabs-item" id="tab4">
            <div class="inner">
                <p>four</p>
                <img class="image" src="{{root}}assets/images/cms/placeholder.jpg">
            </div>
        </div>
        <div class="tabs-item" id="tab5">
            <div class="inner">
                <p>five</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </div>
        </div>
    </div>
    
</div>