<div class="module video{{#if moduleClasses}} {{moduleClasses}}{{/if}}">

    {{#if iframe}}

    <div class="plyr__video-embed video-player">
        <iframe
                src="{{iframe}}"
                allowfullscreen
                allowtransparency
        ></iframe>
    </div>

    {{else}}

    <video class="video-player" playsinline controls {{#if placeholder}}poster="{{root}}{{placeholder}}"{{/if}}>
        <source src="{{root}}{{video}}" type="video/mp4" />
    </video>

    {{/if}}

</div>
