.module.accordion {

    .accordion-title {
        position: relative;
        display: flex;
        align-items: center;
        padding: rem-calc(10);
        line-height: normal;

        // plus icon
        &::after {
            content: '+';
            position: relative;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem-calc(20);
            height: rem-calc(20);
            font-size: rem-calc(20);
        }
    }

    .accordion-item {
        &.active {
            .accordion-title {
                &::after {
                    content: '-';
                }
            }
        }
    }

    .accordion-content {
        overflow: hidden;
        margin: 0;
        max-height: 0;
        transition: max-height 0.3s, padding 0.3s;
    }

    .inner {
        transition: padding 0.3s;
        padding: rem-calc(10 10);
    }
}