.module.buttons {
    display: flex;
    flex-wrap: wrap;

    .button:not(:last-of-type) {
        margin: rem-calc( 0 16 16 0);
    }

    &.align-center {
        justify-content: center;
    }
}