// styleguide:ignore:start
@import 'swiper/swiper.scss';
// styleguide:ignore:end


.swiper-slide{
  img {
    display: block;
    width: 100%;
  }
}

.swiper-button {
  width: rem-calc(23);
  height: rem-calc(44);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  cursor: pointer;
  z-index: 10;

  &-prev {
    background-image: url(../images/chevron-left.svg);
    left: 0;
  }

  &-next {
    background-image: url(../images/chevron-right.svg);
    right: 0;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  padding: rem-calc(16 0);

  .swiper-pagination-bullet {
    display: block;
    width: rem-calc(12);
    height: rem-calc(12);
    border-radius: 50%;
    background-color: grey;
    margin: rem-calc(0 4);
    cursor: pointer;

    &-active {
      background-color: skyblue;
    }
  }
}