$input-height: rem-calc(50);
$input-paddings: rem-calc(10 20);
$input-border-color: var(--black);
$input-border: 1px solid $input-border-color;

.module.form {
    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type='file']),
    select,
    textarea {
        width: 100%;
        box-shadow: none;
        position: relative;
        margin: 0;
        padding: $input-paddings;
        height: $input-height;
        border: $input-border;

        &::placeholder {
            color: inherit;
        }

        &:focus {
            // remove placeholder on input :focus by default
            &::placeholder {
                color: transparent;
            }
        }
    }

    select {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        background-image: svg-uri('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.6 9.7" style="enable-background:new 0 0 18.6 9.7;" xml:space="preserve"><path d="M9.6,9.7c-0.3,0-0.7-0.1-1-0.3L0.5,2.7c-0.6-0.5-0.7-1.5-0.2-2.1c0.5-0.6,1.5-0.7,2.1-0.2l7.1,5.9l6.5-5.9 c0.6-0.6,1.6-0.5,2.1,0.1c0.6,0.6,0.5,1.6-0.1,2.1l-7.5,6.7C10.3,9.6,10,9.7,9.6,9.7z"/></svg>');
        background-origin: content-box;
        background-position: right 0 center;
        background-repeat: no-repeat;
        background-size: 9px 6px;
        padding-right: 1rem;
    }

    textarea {
        height: auto;
    }

    .gform_wrapper.gravity-theme {
        .gform_fields {
            grid-column-gap: rem-calc(20);
            grid-row-gap: rem-calc(20);
        }

        .gform_footer {
            margin: 0;
            padding: 0;
            margin-top: rem-calc(40);
        }

        .gform_validation_errors {
            padding: rem-calc(10 0);
            border: 0;
            border-top: 1px solid var(--red);
            border-bottom: 1px solid var(--red);
            border-radius: 0;
            background: none;
            box-shadow: none;
            margin: 0;
            margin-bottom: rem-calc(20);

            h2 {
                @include typo('h4');
                color: var(--red);
            }
    
            .gform-icon {
                display: none;
            }
        }
    
        .gfield_validation_message {
            background: none;
            padding: 0;
            border: 0;
            color: var(--red);
            font-size: rem-calc(14);
            margin-top: rem-calc(10);
        }
    }

    .gform_wrapper.gravity-theme {
        .gfield {
            .gfield_label {
                margin-bottom: rem-calc(10);
                display: block;
            }

            .gfield_checkbox,
            .gfield_radio {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: rem-calc(10);
            }
        }
    }
}