.module.form {
    --inputBorderColor: var(--black);
    --formButtonColor: var(--inverse);
    --formButtonBg: var(--black);

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type='file']),
    select,
    textarea {
        width: 100%;
        box-shadow: none;
        position: relative;
        margin: 0;
        padding: rem-calc(10 10);
        height: auto;
        border: 1px solid var(--inputBorderColor);
        color: var(--inputBorderColor);
        outline: none;
        display: block;
        background: none;
        line-height: 1.2;

        &::placeholder {
            color: inherit;
            opacity: 0.4;
        }
    }

    select {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        background-image: svg-uri('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.6 9.7" style="enable-background:new 0 0 18.6 9.7;" xml:space="preserve"><path d="M9.6,9.7c-0.3,0-0.7-0.1-1-0.3L0.5,2.7c-0.6-0.5-0.7-1.5-0.2-2.1c0.5-0.6,1.5-0.7,2.1-0.2l7.1,5.9l6.5-5.9 c0.6-0.6,1.6-0.5,2.1,0.1c0.6,0.6,0.5,1.6-0.1,2.1l-7.5,6.7C10.3,9.6,10,9.7,9.6,9.7z"/></svg>');
        background-origin: content-box;
        background-position: right 0 center;
        background-repeat: no-repeat;
        background-size: 9px 6px;
        padding-right: 1rem;
    }

    textarea {
        height: auto;
    }


    .gform_wrapper.gravity-theme {
        .gform_fields {
            row-gap: rem-calc(30);
            column-gap: rem-calc(30);
        }

        .gfield {
            .gfield_label {
                margin-bottom: rem-calc(10);
                display: block;
            }

            .gfield_checkbox,
            .gfield_radio {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: rem-calc(10);
            }
        }

        .gform_footer {
            margin-top: rem-calc(30);

            .gform_button {
                background: var(--formButtonBg);
                color: var(--formButtonColor);
            }
        }
    }
}

.bg-dark {
    .module.form {
        --inputBorderColor: var(--white);
        --formButtonBg: var(--white);
        --formButtonColor: var(--black);
    }
}
