$input-height: rem-calc(50);
$input-paddings: rem-calc(10 20);
$input-border: 1px solid color('black');

.module.form {
    .gform_wrapper {
        margin: 0;

        .validation_error {
            width: 100%;
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type='file']),
        select,
        textarea {
            width: 100%;
            box-shadow: none;
            position: relative;
            margin: 0;
            padding: $input-paddings;
            height: $input-height;
            border: $input-border;

            &::placeholder {
                color: inherit;
            }

            &:focus {
                // remove placeholder on input :focus by default
                &::placeholder {
                    color: transparent;
                }
            }
        }

        select {
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            background-image: svg-uri('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.6 9.7" style="enable-background:new 0 0 18.6 9.7;" xml:space="preserve"><path d="M9.6,9.7c-0.3,0-0.7-0.1-1-0.3L0.5,2.7c-0.6-0.5-0.7-1.5-0.2-2.1c0.5-0.6,1.5-0.7,2.1-0.2l7.1,5.9l6.5-5.9 c0.6-0.6,1.6-0.5,2.1,0.1c0.6,0.6,0.5,1.6-0.1,2.1l-7.5,6.7C10.3,9.6,10,9.7,9.6,9.7z"/></svg>');
            background-origin: content-box;
            background-position: right 0 center;
            background-repeat: no-repeat;
            background-size: 9px 6px;
            padding-right: 1rem;
        }

        textarea {
            height: auto;
        }

        .gform_title {
            margin: 0;
        }

        .gform_description {
            width: auto;
            margin: 0;
        }

        ul.gform_fields {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            margin-left: rem-calc(-15) !important;
            margin-right: rem-calc(-15) !important;

            &.top_label div.ginput_container {
                margin: 0;
            }

            li.gfield {
                width: 100%;
                margin-top: 0;
                @include responsive-margin('bottom', 30, 0.2, 'true');
                padding: rem-calc(0 15);
                position: relative;

                &:last-child {
                    margin-bottom: 0 !important;
                }

                @include breakpoint(large) {
                    &.half-width {
                        width: 50%;
                    }
                }

                .gfield_label {
                    display: block;
                    @include font-size(16, 1.19);
                    text-align: left;
                    font-weight: bold;
                    margin: rem-calc(0 0 10);
                }

                .gfield_description {
                    font-size: 80%; 
                }

                &.field_description_above {
                    .gfield_description {
                        margin-bottom: rem-calc(5);
                    }
                }

                &.field_description_below {
                    .gfield_description {
                        margin-top: rem-calc(5);
                    }
                }
          
                &.gfield_error {
                    background: none ;
                    border: 0;

                    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
                    textarea, .select2-container--default .select2-selection--single {
                        border-color: red;
                    }

                    label.gfield_label {
                        margin: 0;
                    }
                }

                &:not(.hidden_label ).gfield_label {
                    +.ginput_container {
                        @include responsive-margin('top', 10);
                    }
                }

                &.hidden_label .gfield_label,
                label.hidden_sub_label,
                label.screen-reader-text{
                    clip: rect(1px, 1px, 1px, 1px);
                    position: absolute !important;
                    height: 1px;
                    width: 1px;
                    overflow: hidden;
                }


                //checkbox and radio buttons common styles
                .ginput_container_checkbox .gfield_checkbox,
                .ginput_container_radio .gfield_radio {
           
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    >li {
                        position: relative;
                        display: flex;

                        + li {
                            margin-top: rem-calc(10);
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        label {
                            display: block;
                            cursor: pointer;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: rem-calc(25);
                                height: rem-calc(25);
                                border: $input-border;
                            }
                        }

                        input {
                            opacity: 0;
                            width: rem-calc(25);
                            height: rem-calc(25);
                            margin: 0;
                            margin-right: rem-calc(16);

                            &:checked+label {
                                &:after {
                                    content: '';
                                    display: block;
                                    width: rem-calc(19);
                                    height: rem-calc(19);
                                    position: absolute;
                                    top: rem-calc(3);
                                    left: rem-calc(3);
                                    background: color('black');
                                }
                            }
                        }
                    }
                }

                //radio buttons 
                .ginput_container_radio {
                    .gfield_radio {
                        >li {
                            label {
                                &:before {
                                    border-radius: rem-calc(30);
                                }
                            }

                            input {
                                &:checked+label {
                                    &:after {
                                        border-radius: rem-calc(30);
                                    }
                                }
                            }
                        }
                    }
                }

                //file upload
                .ginput_container_fileupload {
                    input[type="file"] {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
        
                        +.gfield_label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            width: 100%;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            padding: $input-paddings;
                            background: color('black');
                            color: color('white');
                            height: $input-height;
                        }
        
                        &:focus+.gfield_label,
                        +.gfield_label:hover {
                            background-color: color('black');
                            color: color('white');
                        }
        
                        &:focus+.gfield_label {
                            outline: 1px dotted #000;
                            outline: -webkit-focus-ring-color auto 5px;
                        }
        
                        +.gfield_label * {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .gform_footer {
            @include responsive-margin('top', 30);
            display: flex;
            justify-content: center;
            align-items: center;

            input.button,
            .gform_button,
            input[type=submit] {
                margin: 0;
                width: auto;
                line-height: initial;
                min-height: initial;
                text-align: center;
                cursor: pointer;
            }
        }

        //datepicker input styles
        .ginput_container_date {
            position: relative;

            .ui-datepicker-trigger {
                position: absolute;
                right: rem-calc(12);
                top: 50%;
                transform: translateY(-50%);
                width: rem-calc(24);
                height: auto;
            }

            .datepicker_with_icon {
                padding-right: rem-calc(40);
            }
        }

        .ginput_container .select2 {
            margin: 0;
        }

         //columns
        .gfmc-column {
            @include responsive-margin('bottom', $module-margin);

            &:last-of-type {
                margin-bottom: 0;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            @include breakpoint(medium) {
                margin-bottom: 0;
                width: 50% !important;
            }
        }
    }


    //inline
    &.inline {
        @include breakpoint(medium) {
            .gform_wrapper {
                input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type='file']),
                select {
                    height: $input-height;
                }

                .gform_footer {
                    margin-top: 0;
                }

                form {
                    display: flex;
                    flex-wrap: wrap;

                    .gform_body {
                        width: 80%;
                        padding-right: rem-calc(20);
                    }

                    .gform_footer {
                        width: 20%;
                        margin: 0;
                        padding: 0;

                        .gform_button {
                            width: 100%;
                            height: $input-height;
                        }
                    }
                }
            }
        }
    }
}