.module.tabs {
  .tabs-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: rem-calc(20);
    margin-bottom: rem-calc(20);

    li {
      a {
        display: block;
      }
    }
  }

  .tabs-item {
    overflow: hidden;
    margin: 0;
    max-height: 0;
    transition: max-height 0.4s, padding 0.4s, opacity 0.4s;
    opacity: 0;
    border-top: 0;

    &.is-active {
      opacity: 1;
    }
  }

  &.vertical {
    @include breakpoint(medium) {
      display: flex;
      align-items: flex-start;

      .tabs-nav {
        flex-direction: column;
        margin-bottom: 0;
        margin-right: rem-calc(20);
      }
    }
    
  }
}