section.content-block {
  margin-top: var(--base-margin);

  &:last-of-type {
    margin-bottom: var(--base-margin);
  }
}

section[class*="bg-"] {
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);

  &:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    margin-top: 0;
  }

  & + section[class*="bg-"] {
    margin-top: 0;
  }
}
