header.template-header {
    margin-bottom: var(--module-margin);

    .headline {
        @include breakpoint(medium) {
            span {
                display: block;
            }
        }
    }

    &.align-center {
        text-align: center;
    }
}
