---
title: Home
---

{% extends "design-system/library.njk" %}

{% set backgrounds = ["black", "red"] %}

{% set colors = ["black", "white"] %}

{% block content %}

    <div class="ds-page" style="padding-left: 0;padding-right: 0;">

        <div class="container">

            <h2 class="ds-block-title">Backgrounds</h2>

            <table class="ds-classes-table">
                <thead>
                <tr>
                    <th>Color</th>
                    <th width="30%">Class</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                {% for background in backgrounds %}
                    <tr class="ds-background">
                        <td>
                            <div class="ds-background__color bg-{{ background }}"></div>
                        </td>
                        <td>bg-{{ background }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <h2 class="ds-block-title">Colors</h2>

            <table class="ds-classes-table">
                <thead>
                <tr>
                    <th>Color</th>
                    <th>Class</th>
                </tr>
                </thead>

                <tbody>

                {% for color in colors %}
                    <tr class="ds-background">
                        <td>
                            <div class="ds-background__color" style="background: var(--{{ color }})"></div>
                        </td>
                        <td>text-{{ color }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


            <h2 class="ds-block-title">Typography</h2>

            <div class="ds-typography">

                <h1>h1 heading</h1>
                <h2>h2 heading</h2>
                <h3>h3 heading</h3>
                <h4>h4 heading</h4>
                <h5>h5 heading</h5>
                <h6>h6 heading</h6>

                <p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Ab architecto consectetur cumque deleniti dolorem explicabo facere hic inventore libero maxime, numquam pariatur porro repellendus saepe tempore vel voluptatem voluptatibus, voluptatum!</p>

            </div>

        </div>

    </div>
{% endblock %}
