.template-block-grid {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(24);
        width: 100%;
    }

    &__item {
        box-shadow: rem-calc(4 4 48 0) rgb(0 0 0 / 10%);
        border-radius: rem-calc(8);
        background-color: var(--white);
        width: 100%;
        color: var(--black);
        text-decoration: none;

        @include breakpoint(medium) {
            width: calc(100% / 2 - #{rem-calc(24)} / 2);
        }

        @include breakpoint(large) {
            width: calc(100% / 3 - #{rem-calc(48)} / 3);
        }

        &:hover {
            .template-block-grid__img-wrapper {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__card-content {
        padding: rem-calc(16 16 36);
        min-height: rem-calc(182);
    }

    &__img-wrapper {
        position: relative;
        border-radius: rem-calc(8 8 0 0);
        aspect-ratio: 304 / 176;
        width: 100%;
        overflow: hidden;

        img {
            @include overlay;
            transition: transform var(--tr);
            object-fit: cover;
        }
    }

    &__category-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(8);
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            border-radius: rem-calc(48);
            background-color: var(--black);
            padding: rem-calc(6 12);
            color: var(--white);
            font-weight: 500;
            font-size: rem-calc(14);
            line-height: rem-calc(16);
            letter-spacing: 3%;
            text-transform: uppercase;
        }
    }

    &__headline {
        margin-top: rem-calc(16);
        font-weight: 500;
        font-size: rem-calc(18);
        line-height: rem-calc(24);
        font-family: var(--primary-font);
        text-transform: none;
    }

    &__description {
        margin-top: rem-calc(8);
        font-size: rem-calc(14);
    }
}
