.facet-dropdown {
    display: flex;
    flex-direction: column;
    gap: rem-calc(16);
    min-width: rem-calc(200);
    max-width: rem-calc(320);

    @include breakpoint(large) {
        gap: rem-calc(48);
    }

    .facet-wrap {
        position: relative;

        &.open {
            .facetwp-type-checkboxes,
            .facetwp-type-radio {
                visibility: visible;
                opacity: 1;
            }

            h3 {
                position: relative;
                z-index: 3;

                &:after {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
        }
    }

    h3 {
        position: relative;
        cursor: pointer;
        margin-bottom: rem-calc(16);
        margin-bottom: 0;
        border: rem-calc(2) solid var(--black);
        border-radius: rem-calc(4);
        padding: rem-calc(12 8);
        font-weight: 500;
        font-size: rem-calc(16);
        line-height: rem-calc(16);
        font-family: var(--primary-font);
        letter-spacing: 3%;

        &:after {
            display: block;
            position: absolute;
            top: 50%;
            right: rem-calc(16);
            transform: translateY(-50%);
            transition: transform var(--tr);
            background: svg-uri('<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.31201 1.65601L4.65601 5.31201L1 1.65601" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat;
            background-size: contain;
            width: rem-calc(12);
            height: rem-calc(9);
            content: "";
        }
    }

    .facetwp-type-checkboxes,
    .facetwp-type-radio {
        display: flex;

        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        gap: rem-calc(6);
        transform: translateY(#{rem-calc(-4)});
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        transition: all var(--tr);
        margin-bottom: 0;
        border: rem-calc(2) solid var(--black);
        border-top: unset;
        border-radius: rem-calc(0 0 4 4);
        background: unset;
        background: var(--white);
        padding: rem-calc(12 8);
        width: 100%;
    }

    .facetwp-checkbox,
    .facetwp-radio {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background: unset;
        padding: rem-calc(8 0 8 40);
        font-size: rem-calc(16);
        line-height: rem-calc(24) !important;
        white-space: nowrap;

        .facetwp-display-value {
            padding: 0;
            font-size: rem-calc(16);
            line-height: rem-calc(24) !important;
            white-space: normal;
        }
    }

    .facetwp-checkbox {
        &::before {
            top: rem-calc(8);
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.2;
            transition:
                opacity var(--tr),
                background-color var(--tr);
            border: rem-calc(2) solid var(--black);
            border-radius: rem-calc(2);
            background: var(--black);
            width: rem-calc(24);
            height: rem-calc(24);
        }

        &::after {
            top: rem-calc(14);
            top: 50%;
            left: rem-calc(6);
            transform: translateY(-50%);
            opacity: 0;
            border-radius: 50%;
            background: svg-uri('<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.20741 0.793031C9.39488 0.980558 9.50019 1.23487 9.50019 1.50003C9.50019 1.76519 9.39488 2.0195 9.20741 2.20703L4.20741 7.20703C4.01988 7.3945 3.76557 7.49982 3.50041 7.49982C3.23524 7.49982 2.98094 7.3945 2.79341 7.20703L0.793407 5.20703C0.611249 5.01843 0.510455 4.76583 0.512733 4.50363C0.515012 4.24143 0.62018 3.99062 0.805589 3.80521C0.990997 3.6198 1.24181 3.51464 1.50401 3.51236C1.7662 3.51008 2.0188 3.61087 2.20741 3.79303L3.50041 5.08603L7.79341 0.793031C7.98094 0.60556 8.23524 0.500244 8.50041 0.500244C8.76557 0.500244 9.01988 0.60556 9.20741 0.793031Z" fill="black"/></svg>') no-repeat;
            background-size: contain;
            width: rem-calc(14);
            height: rem-calc(10);
        }

        &.checked {
            background: unset;

            &::before {
                opacity: 1;
                background-color: var(--white);
            }

            &::after {
                opacity: 1;
            }
        }
    }

    .facetwp-radio {
        &::before {
            top: rem-calc(8);
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.2;
            transition:
                opacity var(--tr),
                background-color var(--tr);
            border: rem-calc(2) solid var(--black);
            border-radius: 50%;
            background: var(--black);
            width: rem-calc(24);
            height: rem-calc(24);
        }

        &::after {
            top: rem-calc(14);
            top: 50%;
            left: rem-calc(6);
            transform: translateY(-50%);
            opacity: 0;
            border-radius: 50%;
            width: rem-calc(12);
            height: rem-calc(12);
        }

        &.checked {
            background: unset;

            &::before {
                opacity: 1;
                background-color: var(--white);
            }

            &::after {
                opacity: 1;
            }
        }
    }
}
