.template-text-filter {

    &__wrapper {
        width: 100%;
        max-width: rem-calc(600);
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(20);
        padding: rem-calc(32 24 64);
        margin-left: auto;
        margin-right: auto;
    }

    &__filter-input {
        width: 100%;
        padding: rem-calc(12 16);
        border-radius: rem-calc(8);
        border: rem-calc(1) solid var(--grey);
        margin-bottom: rem-calc(32);
    }

    &__item-list  {
        margin: 0;
        padding: rem-calc(0 0 0 24);
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);

        li {
            border-bottom: rem-calc(1) solid var(--grey);
            padding-bottom: rem-calc(4);
        }

        li.hidden {
            display: none;
        }
    }
}