.template-text-filter {
    &__wrapper {
        margin-right: auto;
        margin-left: auto;
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(20);
        padding: rem-calc(32 24 64);
        width: 100%;
        max-width: rem-calc(600);
    }

    &__search-form {
        display: flex;
        align-items: center;
        gap: rem-calc(12);
        margin-bottom: rem-calc(32);
    }

    &__filter-input {
        height: rem-calc(50);
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(8);
        padding: rem-calc(12 16);
        width: 100%;
    }

    &__item-list {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
        margin: 0;
        padding: rem-calc(0 0 0 24);

        li {
            border-bottom: rem-calc(1) solid var(--grey);
            padding-bottom: rem-calc(4);
        }

        li.hidden {
            display: none;
        }

        li.no-results {
            &::marker {
                font-size: 0;
            }
        }
    }

}
