.template-text-filter {
    &__wrapper {
        margin-right: auto;
        margin-left: auto;
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(20);
        padding: rem-calc(32 24 64);
        width: 100%;
        max-width: rem-calc(600);
    }

    &__search-form {
        display: flex;
        align-items: center;
        margin-bottom: rem-calc(32);
    }

    &__filter-input {
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(8);
        padding: rem-calc(12 16);
        width: 100%;
        height: rem-calc(50);

        + .template-text-filter__search-button {
            margin-left: rem-calc(12);
        }
    }

    &__item-list {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
        margin: 0;
        padding: rem-calc(0 0 0 24);

        li {
            border-bottom: rem-calc(1) solid var(--grey);
            padding-bottom: rem-calc(4);
        }

        li.hidden {
            display: none;
        }

        li.no-results {
            &::marker {
                font-size: 0;
            }
        }
    }

    &__letter-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(8);
        margin-bottom: rem-calc(24);

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            transition:
                background-color var(--tr),
                color var(--tr);
            cursor: pointer;
            border: rem-calc(1) solid var(--black);
            border-radius: 50%;
            width: rem-calc(24);
            min-width: rem-calc(24);
            height: rem-calc(24);
            font-size: rem-calc(12);

            &:not(.is-active):not(.disabled) {
                &:hover {
                    background-color: var(--light-grey);
                }
            }

            &.is-active {
                background-color: var(--black);
                color: var(--white);
            }

            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}
