.template-large-dropdown {
    &__select-bar {
        display: flex;
        flex-direction: column;
        border: rem-calc(2) solid var(--light-grey);
        border-radius: rem-calc(7);
        width: 100%;

        @include breakpoint(medium) {
            flex-direction: row;
            align-items: start;
        }
    }

    &__dropdown {
        position: relative;
        cursor: pointer;
        padding: rem-calc(17 30 17 40);
        width: 100%;

        &.is-active {
            .selected-display::after {
                transform: rotate(180deg);
            }

            .dropdown {
                visibility: visible;
                opacity: 1;
            }
        }

        .selected-display {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem-calc(20);
            width: 100%;
            overflow: hidden;
            font-size: rem-calc(18);
            text-overflow: ellipsis;
            white-space: nowrap;

            &::after {
                display: block;
                transition: transform var(--tr);
                background: svg-uri('<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99099 7.69524C7.64402 8.04221 7.12357 8.04221 6.8113 7.69524L1.25983 2.14377C0.912867 1.8315 0.912867 1.31105 1.25983 0.998779C1.5721 0.651813 2.09255 0.651813 2.40482 0.998779L7.36645 5.96041L12.3628 0.964083C12.675 0.651813 13.1955 0.651813 13.5078 0.964083C13.8547 1.31105 13.8547 1.8315 13.5078 2.14377L7.99099 7.69524Z" fill="black"/></svg>') no-repeat;
                width: rem-calc(14);
                min-width: rem-calc(14);
                height: rem-calc(9);
                content: "";
            }
        }

        .dropdown {
            position: absolute;
            top: 95%;
            left: rem-calc(-2);
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            transition: var(--tr);
            margin: 0;
            border: rem-calc(2) solid var(--light-grey);
            border-top: 0;
            border-radius: rem-calc(0 0 7 7);
            background: var(--white);
            padding: rem-calc(4 0 0 0);
            width: calc(100% + #{rem-calc(4)});
            list-style: none;

            li {
                transition: background var(--tr);
                border-radius: rem-calc(0 0 7 7);
                padding: rem-calc(17 30 17 40);
                font-size: rem-calc(18);

                &:last-child {
                    border-radius: 0;
                }

                &:hover {
                    background: var(--light-grey);
                }

                &.is-active {
                    background: var(--light-grey);
                }
            }
        }
    }

    &__select-bar-headline {
        height: rem-calc(62);
        @include typo("h3");
        background-color: var(--light-grey);
        padding: rem-calc(17 25);
        min-width: rem-calc(192);
        font-size: rem-calc(20);
        text-align: center;
    }

    &__list {
        margin-top: rem-calc(42);

        .content-block.template-block-grid {
            @include breakpoint(small only) {
                .template-block-grid__list > .template-block-grid__item:not(:has(.template-block-grid__img-wrapper)) {
                    padding-left: rem-calc(5);
                }
            }

            @include breakpoint(medium) {
                .template-block-grid__list > .template-block-grid__item:first-child:not(:has(.template-block-grid__img-wrapper)) {
                    padding-left: rem-calc(5);
                }
            }
        }

        .template-block-grid:not(.is-active) {
            display: none;
        }
    }
}
