.template-link-list {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        border-top: rem-calc(1) solid var(--black);
        padding: 0;

        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: rem-calc(12);
        border-bottom: rem-calc(1) solid var(--black);
        padding: rem-calc(12 0);

        p {
            @include typo("h6");
            @include breakpoint(small only) {
                text-align: center;
            }
        }

        @include breakpoint(medium) {
            flex-direction: row;
        }
    }

    .bg-dark & {
        .wp-block-ssm-link-list__wrapper,
        .wp-block-ssm-link-list__item {
            border-color: var(--white);
        }
    }
}
