.template-open-cards {
    &__container {
        position: static;

        @include breakpoint(large) {
            display: inline-flex;
            position: relative;
        }
    }

    &__card {
        display: flex;
        position: absolute;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: all var(--tr) ease-in-out;
        cursor: pointer;
        border: rem-calc(1) solid var(--grey);
        border-radius: rem-calc(8);
        background-color: var(--white);
        padding: rem-calc(16);

        @include breakpoint(large) {
            width: rem-calc(300);
            height: rem-calc(300);
        }

        h3 {
            @include typo("h5");

            @include breakpoint(large) {
                @include typo("h4");
            }
        }

        p {
            margin-top: auto;
            max-height: rem-calc(180);
            overflow: auto;
        }
    }

    .main-card {
        position: relative;
        visibility: visible;
        opacity: 1;
        z-index: 3;
    }

    .bottom-card {
        top: calc(100% + #{rem-calc(12)});
        left: 0;
    }

    .left-card {
        top: 0;
        left: calc(100% + #{rem-calc(12)});
    }

    .diagonal-card {
        top: calc(100% + #{rem-calc(12)});
        left: calc(100% + #{rem-calc(12)});
    }

    &__card.showing {
        visibility: visible;
        opacity: 1;
    }

    .return-btn {
        position: absolute;
        top: rem-calc(8);
        right: rem-calc(8);
        transition: background-color var(--tr);
        cursor: pointer;
        border: none;
        border: rem-calc(2) solid var(--black);
        border-radius: 50%;
        width: rem-calc(30);
        min-width: rem-calc(30);
        height: rem-calc(30);
        color: var(--black);
        font-size: rem-calc(24);

        &:hover {
            background-color: var(--light-grey);
        }
    }

    .bottom-card,
    .left-card,
    .diagonal-card {
        @include breakpoint(large down) {
            position: relative;
            top: auto;
            left: auto;
            margin: rem-calc(12 0 0);
        }
    }
}
