.template-ribbon {
    &__card {
        position: fixed;
        top: rem-calc(30);
        right: rem-calc(-40);
        transform: rotate(45deg);
        z-index: 1000;
        background: var(--grey);
        width: rem-calc(200);
        color: var(--white);
        text-align: center;
    }

    &__card-text {
        font-weight: 700;
        font-size: rem-calc(12);
    }

    &__card-btn {
        position: absolute;
        top: rem-calc(100);
        left: rem-calc(50);
    }
}
