.template-secondary-nav {
    &.expanded-menu {
        .template-secondary-nav {
            &__items-container {
                @include breakpoint(small only) {
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;
                    pointer-events: all;
                }

                @include breakpoint(medium) {
                    flex: 1;
                }
            }

            &__expanded-button {
                .template-secondary-nav__expanded-button-open {
                    &:after {
                        @include breakpoint(small only) {
                            transform: rotate(-90deg);
                        }

                        @include breakpoint(medium){
                            transform: rotate(-180deg) translateX(-5px);
                        }
                    }
                }
            }
        }
    }

    &__container {
        display: flex;

        @include breakpoint(small only) {
            position: relative;
        }

        @include breakpoint(medium) {
            overflow: hidden;
        }
    }

    &__title {
        color: var(--white);
        white-space: nowrap;
        @include typo("p");
        border-radius: rem-calc(20 0 0 20);
        background: var(--black);
        padding: rem-calc(14 18);
        height: rem-calc(50);
        text-transform: uppercase;

        @include breakpoint(small only) {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include breakpoint(small only) {
            width: 100%;
        }
    }

    &__items-container {
        display: flex;
        background: var(--grey);

        @include breakpoint(small only) {
            position: absolute;
            top: rem-calc(50);
            order: 2;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            transition: opacity var(--tr);
            border-radius: rem-calc(20);
            width: 100%;
            pointer-events: none;
        }

        @include breakpoint(medium) {
            position: relative;
            transition: flex calc(var(--tr) * 2);
            width: 0;
            height: rem-calc(50);
            overflow: hidden;
        }
    }

    &__items-list {
        display: flex;
        gap: rem-calc(16);
        margin: 0;
        padding: rem-calc(24 18 32);
        overflow-y: scroll;
        scrollbar-width: none;
        list-style: none;

        @include breakpoint(small only) {
            flex-direction: column;
            width: 100%;
        }

        @include breakpoint(medium) {
            display: inline-flex;
            gap: rem-calc(26);
            padding: rem-calc(16 42 16 18);
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        margin: 0;
        a {
            @include typo("body-small");
            display: block;
            margin-bottom: 0;
            color: var(--white);
            text-decoration: none;

            @include breakpoint(medium) {
                white-space: nowrap;
            }

            &:hover {
                color: var(--black);
            }
        }
    }

    &__expanded-button {
        display: flex;
        position: relative;
        align-items: center;
        transition: background-color var(--tr);
        cursor: pointer;
        border-radius: rem-calc(0 20 20 0);
        background-color: var(--black);
        padding: rem-calc(16 16 14 18);
        height: rem-calc(50);
        white-space: nowrap;

        @include breakpoint(medium) {
            min-width: rem-calc(48);
        }

        &:after {
            @include breakpoint(medium) {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: rem-calc(-48);
                opacity: 0;
                transition: opacity var(--tr);
                background: rgb(25, 47, 95);
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%);
                width: rem-calc(48);
                height: rem-calc(50);
                content: "";
            }
        }

        &.is-close-styles {
            @include breakpoint(medium) {
                background-color: var(--black);
            }

            &:after {
                @include breakpoint(medium) {
                    opacity: 1;
                }
            }

            .template-secondary-nav__expanded-button-open {
                @include breakpoint(medium) {
                    opacity: 0;
                    width: 0;
                }
            }

            .template-secondary-nav__expanded-button-close {
                opacity: 1;
            }
        }

        &-open {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: width calc(var(--tr) * 2);

            span {
                @include typo("body-small");
                transition: opacity var(--tr);
                color: var(--white);

                @include breakpoint(small only) {
                    display: none;
                }
            }

            &:after {
                display: block;
                transition: opacity var(--tr);
                background: svg-uri('<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52867 12.415L8.47133 13.3577L12.9427 8.88637L8.47133 4.41504L7.52867 5.35771L10.3907 8.21971H4V9.55304H10.3907L7.52867 12.415Z" fill="#FFFEFF"/></svg>') no-repeat;
                width: rem-calc(16);
                min-width: rem-calc(16);
                height: rem-calc(16);
                content: "";

                @include breakpoint(small only) {
                    transform: rotate(90deg);
                    transition: transform var(--tr);
                    background-size: contain;
                    width: rem-calc(24);
                    min-width: rem-calc(24);
                    height: rem-calc(24);
                }
            }
        }
    }
}
