{% macro render(props) %}

    <div class="grid-container">

        <div class="template-open-cards__container">
            <div class="template-open-cards__card main-card">
                <h3>Click to show more</h3>
            </div>
            <div class="template-open-cards__card bottom-card hidden">
                <button class="return-btn">&times;</button>
                <h3>Card Bottom</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quo commodi dolore odio iste iusto deleniti, rerum corrupti labore doloremque laudantium inventore molestiae, iure ratione voluptas fugiat non assumenda dolores, minima cupiditate impedit et nam. Architecto dolores placeat deleniti nemo iure minus sint inventore eligendi. Laboriosam non odit voluptatem repellendus.</p>
            </div>
            <div class="template-open-cards__card left-card hidden">
                <button class="return-btn">&times;</button>
                <h3>Card Left</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quo commodi dolore odio iste iusto deleniti, rerum corrupti labore doloremque laudantium inventore molestiae, iure ratione voluptas fugiat non assumenda dolores, minima cupiditate impedit et nam. Architecto dolores placeat deleniti nemo iure minus sint inventore eligendi. Laboriosam non odit voluptatem repellendus.</p>
            </div>
            <div class="template-open-cards__card diagonal-card hidden">
                <button class="return-btn">&times;</button>
                <h3>Card Diagonal</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quo commodi dolore odio iste iusto deleniti, rerum corrupti labore doloremque laudantium inventore molestiae, iure ratione voluptas fugiat non assumenda dolores, minima cupiditate impedit et nam. Architecto dolores placeat deleniti nemo iure minus sint inventore eligendi. Laboriosam non odit voluptatem repellendus.</p>
            </div>
        </div>

    </div>

{% endmacro %}