{#
# @prop {string} headline
# @prop {string} subheadline
# @prop {string} description
# @prop {array} buttons
#}
{% macro render( props ) %}

    <div class="container">

        <div class="max-w-2xl">

            {% if props.headline or props.subheadline %}

                <header class="mb-4">
                    {% if props.headline %}
                        <h1>{{ props.headline | safe}}</h1>
                    {% endif %}

                    {% if props.subheadline %}
                        <h2>{{ props.subheadline | safe}}</h2>
                    {% endif %}
                </header>

            {% endif %}

            {% if props.description %}
                <div class="mb-4">{{ props.description | safe}}</div>
            {% endif %}

            {% if props.buttons %}
                <div>

                    {% for button in props.buttons %}
                        <a href="{{ root }}{{ button.url }}" class="button{% if button.type %} {{ button.type }}{% endif %}">{{ button.label }}</a>
                    {% endfor %}

                </div>
            {% endif %}

        </div>

    </div>

{% endmacro %}