{% macro render(props) %}

    <div direction="{{ props.direction }}" class="template-ticker-text__container">
        <div class="template-ticker-text__text">
            <span>{{ props.text }}</span>
        </div>
    </div>

{% endmacro %}