{#
# @prop {array} items
#}

{% macro render(props) %}

    {% from "macros/default.njk" import module %}

    <div class="grid-container">

        <div class="template-text-filter__wrapper">

            {% if props.buttonSearch %}
                <form class="template-text-filter__search-form">
                    <label for="search" class="show-for-sr">Enter search query</label>
                    <input type="text" class="template-text-filter__filter-input" placeholder="Enter Text">
                    <button class="button template-text-filter__search-button">Search</button>
                </form>

            {% else %}

                <form class="template-text-filter__search-form">
                    <label for="search" class="show-for-sr">Enter search query</label>
                    <input type="text" class="template-text-filter__filter-input" placeholder="Enter Text">
                </form>
            {% endif %}

            {%if props.wordFilter %}
                <div class="template-text-filter__letter-list">
                    <button>A</button>
                    <button>B</button>
                    <button>C</button>
                    <button>D</button>
                    <button>E</button>
                    <button>F</button>
                    <button>G</button>
                    <button>H</button>
                    <button>I</button>
                    <button>J</button>
                    <button>K</button>
                    <button>M</button>
                    <button>N</button>
                    <button>P</button>
                    <button>Q</button>
                    <button>R</button>
                    <button>S</button>
                    <button>T</button>
                    <button>V</button>
                    <button>W</button>
                    <button>X</button>
                    <button>Y</button>
                    <button>Z</button>
                </div>
            {% endif %}

            <ol class="template-text-filter__item-list">

                {% for item in props.items %}

                    <li>
                        <p>{{ item.text }}</p>
                    </li>

                {% endfor %}

            </ol>

        </div>

    </div>

{% endmacro %}