.modal {
    --modal-margin: 2rem;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: var(--modal-z-index);
    transition: opacity 0.15s linear;
    outline: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &__wrapper {
        --link-color: var(--inverse);
        --link-hover-color: var(--inverse);
        --body-color: var(--inverse);

        display: flex;
        position: relative;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s;
        margin: 0;
        margin-left: auto;
        background: var(--red);
        background-position: 100% 0;
        background-size: auto 100%;
        padding: rem-calc(80 40);
        width: auto;
        max-width: rem-calc(960);
        min-height: 100%;
        pointer-events: none;

        color: var(--body-color);
    }

    &__content {
        position: relative;
        outline: none;
        width: 100%;
        pointer-events: none;

        &-wrapper {
            @include breakpoint(large) {
                display: grid;
                grid-template-columns: auto auto;
                gap: rem-calc(32);
            }
        }

        &-image {
            flex-grow: 1;
            margin-right: auto;
            margin-bottom: rem-calc(24);
            margin-left: auto;
            aspect-ratio: 305 / 305;
            width: 100%;

            @include breakpoint(medium) {
                max-width: rem-calc(305);
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: rem-calc(8);
            }
        }

        &-title {
            margin-bottom: rem-calc(5);
            text-transform: none;
            @include typo("h4");
            margin-top: 0;
        }
    }

    &__header,
    &__body {
        position: relative;
        z-index: 20;
    }

    &__body {
        margin-right: auto;
        margin-left: auto;
        max-width: rem-calc(1000);
    }

    &__header {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-end;
        padding: rem-calc(24 40 0);
        width: 100%;
    }

    &__close-btn {
        mask-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 16.9126 16.9126" style="enable-background:new 0 0 16.9126 16.9126;" xml:space="preserve"><rect x="-2.0025" y="6.9565" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.5026 8.4565)" style="fill:#212121;" width="20.918" height="2.9997"/><rect x="6.9565" y="-2.0025" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.5029 8.4566)" style="fill:#212121;" width="2.9997" height="20.918"/></svg>');
        mask-repeat: no-repeat;
        cursor: pointer;
        margin-left: auto;
        background: var(--body-color);
        width: rem-calc(24);
        height: rem-calc(24);
        pointer-events: all;
        font-size: 0;

        &:focus {
            background: var(--blue);
        }
    }

    &.show {
        opacity: 1;

        .modal__wrapper {
            transform: none;
        }

        .modal__content {
            pointer-events: all;
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: var(--modal-backdrop-z-index);
    transition: opacity 0.15s;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;

    &.show {
        opacity: 0.85;
    }
}

body:has(.modal-backdrop.show) {
    main.content {
        filter: blur(12px);
    }
}
