a.skip-main {
    position: absolute;
    top: auto;
    left: rem-calc(-999);
    z-index: -999;
    width: rem-calc(1);
    height: rem-calc(1);
    overflow: hidden;

    &:focus,
    &:active {
        top: auto;
        left: auto;
        z-index: 9999;
        margin: 10px 35%;
        border: rem-calc(4) solid yellow;
        border-radius: rem-calc(15);
        background-color: var(--black);
        padding: rem-calc(5);
        width: 30%;
        height: auto;
        overflow: auto;
        color: var(--white);
        font-size: rem-calc(19);
        text-align: center;
    }
}
