.grid-container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--content-padding);
    max-width: calc(var(--content-width) + var(--content-padding) * 2);
}

main.content {
    overflow: clip;
}
