h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fontFamily('headings');
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

h1 {
    @include responsive-type($h1, percent($h1, 20));
}

h2 {
    @include responsive-type($h2, percent($h2, 20));
}

h3 {
    @include responsive-type($h3, percent($h3, 20));
}

h4 {
    @include responsive-type($h4, percent($h4, 20));
}

h5 {
    @include responsive-type($h5, percent($h5, 20));
}

h6 {
    @include responsive-type($h6, percent($h6, 20));
}