.alignleft,
.alignright,
.alignnone,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  height: auto;

  @include breakpoint(small only) {
    + p,
    p + & {
      margin-top: var(--module-margin);
    }
  }
}

.alignnone,
.aligncenter {
  + p,
  p + & {
    margin-top: var(--module-margin);
  }
}

@include breakpoint(medium) {
  .alignleft {
    float: left;
    margin-right: var(--module-margin);
    margin-bottom: var(--module-margin);
    margin-block-start: 0 !important
  }
  .alignright {
    float: right;
    margin-left: var(--module-margin);
    margin-bottom: var(--module-margin);
    margin-block-start: 0 !important;
  }

  .alignnone {
    margin-left: 0;
    margin-right: 0;
  }
}
