:root {
    //fonts
    --body-font: "Arial", sans-serif;
    --alt-font: "Times New Roman", serif;

    //colors
    --black: #000;
    --white: #fff;
    --inverse: var(--white);
    --body-color: var(--black);
    --body-bg: var(--white);
    --link-color: var(--body-color);
    --link-hover-color: var(--body-color);

    //theme colors

    //plyr
    --plyr-color-main: var(--black);

    //margins and paddings
    --p-margin: 1.25rem; //20px
    --base-margin: 6.25rem; //120px
    --base-padding: 6.25rem; //120px
    --module-padding: 1.875rem; //30px
    --module-margin: 1.875rem; //40px

    //layout
    --content-width: 86.25rem; //1380px
    --content-paddings: 1.125rem; //18px
    --content-contained-width: 72rem; //1152px

    //other
    --tr: 0.6s;
}

$breakpoints : (
    'small': 0,
    'medium': 768,
    'large': 1024,
    'xlarge': 1280,
    'xxlarge': 1536
);


$grid-margin-gutters: (
    small: 20px,
    medium: 30px
);

$breakpoint-classes: (small medium large);

$pallette: 'black', 'white';
