// Usage: 
// color('primary');
// color('blue', 'base');
// fontFamily('body')
// spacing('margin')
// theme('layout', 'width')
:root {
    //fonts
    --body-font: 'Arial', sans-serif;
    --alt-font: 'Times New Roman', serif;

    //colors
    --black: #000;
    --white: #fff;
    --gray: #f0f0f0;
    --inverse: #fff;
    --primary-color: #23bffd;
    --body-color: #000;
    --red: #c02b0a;

    // transition time
    --tr: 0.6s;
}

$theme: (
    'breakpoints': (
        'small': 0,
        'medium': 768,
        'large': 1024,
        'xlarge': 1280,
        'xxlarge': 1536
    ),
    'fontFamily':(
        'body': var(--body-font),
        'headings': var(--alt-font)
    ),
    'spacing':(
        'margin': 100,
        'padding': 100,
        'module-margin': 30,
        'module-padding': 30
    ),
    'layout':(
        'width': 1140,
        'padding': 30
    ),
    'extra': (
        'border-radius': 5,
        'transition-time': 0.6s,
        'p-margin': 20
    )
);

$breakpoints : theme('breakpoints');

$base-margin: spacing('margin');
$base-padding: spacing('padding');
$module-margin: spacing('module-margin');
$module-padding: spacing('module-padding');

$border-radius:  theme('extra', 'border-radius');
$tr: theme('extra', 'transition-time');
$p-margin: theme('extra', 'p-margin');

$grid-margin-gutters: (
  small: 20px,
  medium: 30px
);

$breakpoint-classes: (small medium large);