<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{root}}assets/styles/app.css">

</head>

<body {{#if body_classes}} class="{{body_classes}}" {{/if}}>

    <a class="-left-full absolute top-0 w-px h-px overflow-hidden text-center text-white bg-black bg-opacity-70 left-auto right-auto -z-9999 focus:w-full focus:max-w-xs focus:h-auto focus:overflow-auto focus:z-9999 focus:m-2 focus:p-3 focus:border-2 focus:border-black" href="#main">Skip to main content</a>

    <div class="site-wrapper">

        {{> offcanvas}}

        <div class="site-content" role="main">

            {{> site-header}}

            <main class="content" id="main">
                {{#if show_hero_unit }}
                    {{> hero-unit}}
                {{/if}}

                {{> body}}
            </main>
            {{> site-footer}}
        </div>

    </div>

    <script src="{{root}}assets/scripts/app.js"></script>
</body>

</html>