.gform_wrapper.gravity-theme {
    form {
        grid-row-gap: rem-calc(30);
        display: grid;
        grid-template-columns: 1fr;
    }

    fieldset,
    legend {
        background: 0 0;
        padding: 0;
    }

    fieldset {
        display: block;
        margin: 0;
        border: none;
    }

    legend {
        margin-right: 0;
        margin-left: 0;
    }

    input:not([type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="image"], [type="file"]),
    select,
    textarea {
        @extend %input-styles;
    }

    .gform_fields {
        display: grid;
        grid-template-rows: repeat(auto-fill, auto);
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: var(--form-column-gap);
        width: 100%;
        grid-row-gap: var(--form-row-gap);
    }

    .gfield {
        grid-column: 1/-1;

        &.gfield--width-full {
            grid-column: span 12;
        }
        &.gfield--width-eleven-twelfths {
            grid-column: span 11;
        }
        &.gfield--width-five-sixths {
            grid-column: span 10;
        }
        &.gfield--width-three-quarter {
            grid-column: span 9;
        }
        &.gfield--width-two-thirds {
            grid-column: span 8;
        }
        &.gfield--width-seven-twelfths {
            grid-column: span 7;
        }
        &.gfield--width-half {
            grid-column: span 6;
        }
        &.gfield--width-five-twelfths {
            grid-column: span 5;
        }
        &.gfield--width-third {
            grid-column: span 4;
        }
        &.gfield--width-quarter {
            grid-column: span 3;
        }

        .gfield_label {
            display: block;
            margin-bottom: rem-calc(10);
        }

        .gfield_checkbox,
        .gfield_radio {
            display: flex;
            flex-wrap: wrap;
            gap: rem-calc(10);
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        textarea.large {
            height: rem-calc(122);
        }
    }

    @media (max-width: 640px) {
        .gform_fields {
            grid-column-gap: 0;
        }

        .gfield:not(.gfield--width-full) {
            grid-column: 1/-1;
        }
    }

    .gform_footer {
        text-align: center;

        .gform_button {
            @extend .button;
        }
    }

    .gfield_validation_message {
        ul {
            margin: rem-calc(16 0);
            padding-left: rem-calc(24);

            &:empty {
                display: none;
            }
        }
    }

    .gf_hidden,
    .gform_hidden {
        display: none;
    }

    .hidden_label .gfield_label,
    .hidden_sub_label,
    .screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        clip-path: inset(50%);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        word-wrap: normal !important;
    }

    .ginput_complex {
        display: flex;
        flex-flow: row wrap;
    }

    // errors
    .gform_submission_error {
        display: none;
    }

    .gfield_validation_message {
        color: var(--error-color);
    }

    .gfield.gfield_error {
        input:not([type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="image"], [type="file"]),
        select,
        textarea {
            border-color: var(--error-color);
        }
    }
}
